<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Select Your Adventurer</title>
    <link th:href="@{/styles/masterWebStyle.css}" rel="stylesheet" />
</head>
<body>
	<div class="right-aligner">
		<button class="btn-home font-s" type="button" onclick="location.href='/home'"><p style="position:relative; bottom:.2em;">🏘</p></button>
	</div>
	<div class="center-aligner">
		<div class="spacer-l"></div>   	
	   	<img class ="title" th:src='@{/images/RogueBasicTitle.png}'>
	  	<div class="spacer-xl"></div>
	  	<form action="#" th:action="@{/character_select}" method="post">
			<div th:each="playercharacter: ${characters}">
			 	<button name="character_id" th:value=${playercharacter.id} class="btn-xl font-xxxl" type="submit">
			 		<table>
			 			<tr>
			 				<td>
			 					<img class="class-icon" th:if="${playercharacter.characterClass} == 'Warrior'" th:src="@{/images/RogueWarriorIcon.png}"/>
			 					<img class="class-icon" th:if="${playercharacter.characterClass} == 'Rogue'" th:src="@{/images/RogueRogueIcon.png}"/>
			 					<img class="class-icon" th:if="${playercharacter.characterClass} == 'Wizard'" th:src="@{/images/RogueWizardIcon.png}"/>
			 				</td>
			 				<td class="spacer-cell"/>
			 				<td th:text="'lv.'+${playercharacter.level}"/>
			 				<td class="spacer-cell"/>
			 				<td th:text="${playercharacter.name}"/>
			 			</tr>
			 		</table>
			 	</button>
			 	<div class="spacer-xs"></div>
			</div>
		</form>
	 </div>
</body>
</html>