<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Welcome to RogueBasic</title>
    <link th:href="@{/styles/masterWebStyle.css}" rel="stylesheet" />
</head>
<body>
	<div class="spacer-l"></div>
   	<img class ="title" th:src='@{/images/RogueBasicTitle.png}'>
 	<div class="spacer-xxl"></div>
 	<form action="#" th:action="@{/login}" th:object="${login}" method="post">
	    <div class="formbox">
		    <p th:if="${failure}" class="font-red font-xs">Login attempt failed.</p>
  			<p th:if="${failure}" class="font-red font-xs">Please make sure <br></br> Username and Password are correct.</p>
		    <div th:if="${failure}" class="spacer-xs"></div>
		    <label class="font-m label" for="uname"><b>Username</b></label>
		    <input type="text" placeholder="Enter Username" name="uname" th:field="*{name}" required>
		    <div class="spacer-xxs"></div>
		    <label for="psw" class="font-m label"><b>Password</b></label>
		    <input type="password" placeholder="Enter Password" name="psw" th:field="*{password}" required>
	    	<div></div>
	    	<label class = "font-xs">
	     		<input type="checkbox" checked="checked" name="remember" th:field="*{remember}"> Remember me
	    	</label>
		    <div class="spacer-s"></div>
		    <button class="btn-m font-s" type="submit">Login</button>
		    <div class="spacer-s"></div>
			<span class="font-xs"><a th:href="@{/register}">New user? Create account!</a></span>
		</div>
	</form>
</body>
</html>