<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="icon" th:href="@{/images/favicon.ico}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="application-name" content="Rogue Basic"/>
    <meta name="author" content="BinderCreations"/>
    <meta name="description" content="Simple loot-filled dungeon crawler RPG."/>
    <link rel="apple-touch-icon" th:href="@{/images/logo192.png}" />
    <link rel="manifest" th:href="@{/manifest.json}" />
	<title>Welcome to RogueBasic</title>
    <link th:href="@{/styles/masterWebStyle.css}" rel="stylesheet" />
</head>
<body>
	<picture>
	  	<source th:srcset='@{/images/logo.png}' media='(min-width: 961px)'>
   		<img class="bc-logo" th:src="@{/images/logo-small.png}" alt="logo"/>
  	</picture>
	<div class="spacer-l"></div>
	<picture>
	  	<source th:srcset='@{/images/title.png}' media='(min-width: 961px)'>
   		<img class ="title" th:src='@{/images/title-small.png}' alt="title"/>
  	</picture>
 	<div class="spacer-xxl"></div>
 	<form action="#" th:action="@{/login}" th:object="${login}" method="post">
	    <div class="formbox">
		    <p th:if="${failure}" class="font-red font-xs">Login attempt failed.</p>
  			<p th:if="${failure}" class="font-red font-xs">Please make sure <br></br> Username and Password are correct.</p>
		    <div th:if="${failure}" class="spacer-xs"></div>
		    <label class="font-m label" for="uname"><b>Username</b></label>
		    <input type="text" class="text-input" placeholder="Enter Username" name="uname" th:field="*{name}" required>
		    <div></div>
		    <label for="psw" class="font-m label"><b>Password</b></label>
		    <input type="password" class="text-input" placeholder="Enter Password" name="psw" th:field="*{password}" required>
	    	<div></div>
	    	<label class = "font-xs">
	     		<input type="checkbox" checked="checked" name="remember" th:field="*{remember}"> Remember me
	    	</label>
		    <div class="spacer-s"></div>
		    <button class="btn-m font-s" type="submit">
		    	<p class="v-h-centered">Login</p>
		    </button>
		    <div class="spacer-s"></div>
			<span class="font-xs"><a th:href="@{/register}">New user? Create account!</a></span>
		</div>
	</form>
</body>
</html>