<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Create a New Adventurer!</title>
    <link th:href="@{/styles/masterWebStyle.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/scripts/statCounters.js}"></script>
    <style>
	    input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		  	-webkit-appearance: none;
		  	margin: 0;
		}
		input[type=number] {
  			-moz-appearance: textfield;
		}
    </style>
</head>
<body onload="intializeAttributes('attribute')">
	<div class="right-aligner">
		<button class="home-button" type="button" onclick="location.href='/home'"><p style="position:relative; bottom:.2em;">🏘</p></button>
	</div>
	<div class="center-aligner">    	
	   	<div class="spacer-l"></div>
	   	<img class ="title" th:src='@{/images/RogueBasicTitle.png}'>
	 	<div class="spacer-xl"></div>
  		<form class="formbox" action="#" th:action="@{/new_character}" th:object="${new_character}" method="post">
		    <p class="hilight-1 font-xl">Create Your Adventurer</p>
		    <div class="spacer-s"></div>
			<input type="text" class="charactername" placeholder="Enter Character Name" th:field="*{name}" required>
			<div class="spacer-s"></div>
			<ul class="radio-parent">
				<li>
					<input type="radio" id="warrior" name="class_selection" value="Warrior" th:field="*{characterClass}" required/>
					<label class=font-xs for="warrior">⚔️ Warrior 🛡️</label>
				</li>
				<li>
					<input type="radio" id="rogue" name="class_selection"  value="Rogue" th:field="*{characterClass}" required/>
					<label class=font-xs for="rogue">🔪 Rogue 🏹</label>
				</li>
				<li>
					<input type="radio" id="wizard" name="class_selection"  value="Wizard" th:field="*{characterClass}" required/>
					<label class=font-xs for="wizard">🔮 Wizard ⚗️</label>
				</li>
			</ul>
			<div class="spacer-m"></div>
			<p class="hilight-2 font-m">Attribute Points Remaining</p>
			<div class="spacer-xs"></div>
			<div class="point-circle"><p class="v-h-centered" id="counter">32</p></div>
			<div class="spacer-xs"></div>
			<table class="font-m inline-block">
				<tbody>
					<tr style="text-align: right;">
						<td class="tooltip atr-offset">Constitution
						<span class="tooltiptext">++Health<br></br>++Health Regen</span></td>
						<td style="text-align: center;">
	                      	<table>
	                        	<tbody>
	                          		<tr>
	                            		<td>
	                             			 <input type="number" class="attribute font-xxs" id="AttributeCon" name="AttributeCon" min="8" max="18" step="1" readonly="Readonly" onchange="getTotals()" th:field="*{constitution}"/>
	                            		</td>
	                            		<td>
	                             			<button class="up" type="button" onclick="increment('AttributeCon')" value="AttributeCon">▲</button>
	                              			<div></div>
	                              			<button class="down" type="button" onclick="decrement('AttributeCon')" value="AttributeCon">▼</button>
	                            		</td>
	                          		</tr>
	                        	</tbody>
	                      	</table>
		               	</td>
					</tr>
					<tr style="text-align: right;">
						<td class="tooltip atr-offset">Strength
						<span class="tooltiptext">+Power<br></br>++Armor<br></br>++Carry Weight</span></td>
						<td style="text-align: center;">
	                      	<table>
	                        	<tbody>
	                          		<tr>
	                            		<td>
	                             			 <input type="number" class="attribute font-xxs" id="AttributeStr" name="AttributeStr" min="8" max="18" step="1" readonly="Readonly" onchange="getTotals()" th:field="*{strength}"/>
	                            		</td>
	                            		<td>
	                             			<button class="up" type="button" onclick="increment('AttributeStr')" value="AttributeStr">▲</button>
	                              			<div></div>
	                              			<button class="down" type="button" onclick="decrement('AttributeStr')" value="AttributeStr">▼</button>
	                            		</td>
	                          		</tr>
	                        	</tbody>
	                      	</table>
		               	</td>
					</tr>
					<tr style="text-align: right;">
						<td class="tooltip atr-offset">Dexterity
						<span class="tooltiptext">+Power<br></br>++Dodge<br></br>++Crit</span></td>
						<td style="text-align: center;">
	                      	<table>
	                        	<tbody>
	                          		<tr>
	                            		<td>
	                             			 <input type="number" class="attribute font-xxs" id="AttributeDex" name="AttributeDex" min="8" max="18" step="1" readonly="Readonly" onchange="getTotals()" th:field="*{dexterity}"/>
	                            		</td>
	                            		<td>
	                             			<button class="up" type="button" onclick="increment('AttributeDex')" value="AttributeDex">▲</button>
	                              			<div></div>
	                              			<button class="down" type="button" onclick="decrement('AttributeDex')" value="AttributeDex">▼</button>
	                            		</td>
	                          		</tr>
	                        	</tbody>
	                      	</table>
		               	</td>
					</tr>
					<tr style="text-align: right;">
						<td class="tooltip atr-offset">Intelligence
						<span class="tooltiptext">+Power<br></br>++Energy<br></br>++Energy Regen</span></td>
						<td style="text-align: center;">
	                      	<table>
	                        	<tbody>
	                          		<tr>
	                            		<td>
	                             			 <input type="number" class="attribute font-xxs" id="AttributeInt" name="AttributeInt" min="8" max="18" step="1" readonly="Readonly" onchange="getTotals()" th:field="*{intelligence}"/>
	                            		</td>
	                            		<td>
	                             			<button class="up" type="button" onclick="increment('AttributeInt')" value="AttributeInt">▲</button>
	                              			<div></div>
	                              			<button class="down" type="button" onclick="decrement('AttributeInt')" value="AttributeInt">▼</button>
	                            		</td>
	                          		</tr>
	                        	</tbody>
	                      	</table>
		               	</td>
					</tr>
				</tbody>
			</table>
			<div class="spacer-m"></div>
		    <button class="buttonnormal" type="submit">Venture Forth</button>
		</form>
	</div>
</body>
</html>