<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="icon" th:href="@{/images/favicon.ico}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="application-name" content="Rogue Basic"/>
    <meta name="author" content="BinderCreations"/>
    <meta name="description" content="Simple loot-filled dungeon crawler RPG."/>
    <link rel="apple-touch-icon" th:href="@{/images/logo192.png}" />
    <link rel="manifest" th:href="@{/manifest.json}" />
	<title>Create a New Adventurer!</title>
    <link th:href="@{/styles/masterWebStyle.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/scripts/statCounters.js}"></script>
    <style>
	    input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		  	-webkit-appearance: none;
		  	margin: 0;
		}
		input[type=number] {
  			-moz-appearance: textfield;
		}
    </style>
</head>
<body onload="intializeAttributes('attribute')">
	<img class="bc-logo" th:src="@{/images/bcLogo.png}" alt="logo"/>
	<button class="btn-home" type="button" onclick="location.href='/home'">
		<img th:src='@{/images/scroll.png}'/>
	</button>
	<div class="center-aligner">    	
	   	<div class="spacer-l"></div>
	   	<img class ="title" th:src='@{/images/rogueBasicTitle.png}'>
	 	<div class="spacer-xl"></div>
  		<form class="formbox" action="#" th:action="@{/new_character}" th:object="${newCharacter}" method="post">
		    <p class="hilight-l font-xl">Create Your Adventurer</p>
		    <div class="spacer-s"></div>
			<input type="text" class="charactername" style="font-size: 150%" placeholder="Enter Character Name" th:field="*{name}" required>
			<div class="spacer-s"></div>
			<ul class="radio-parent">
				<li>
					<input type="radio" id="warrior" name="class_selection" value="Warrior" th:field="*{characterClass}" required/>
					<label class=font-xs for="warrior">
						<img class="medium-icon" th:src='@{/images/warrior.png}'>
						Warrior
						<img class="medium-icon" th:src='@{/images/warrior.png}'>
					</label>
				</li>
				<li>
					<input type="radio" id="rogue" name="class_selection"  value="Rogue" th:field="*{characterClass}" required/>
					<label class=font-xs for="rogue">
						<img class="medium-icon" th:src='@{/images/rogue.png}'>
						Rogue
						<img class="medium-icon" th:src='@{/images/rogue.png}'>
					</label>
				</li>
				<li>
					<input type="radio" id="wizard" name="class_selection"  value="Wizard" th:field="*{characterClass}" required/>
					<label class=font-xs for="wizard">
						<img class="medium-icon" th:src='@{/images/wizard.png}'>
						Wizard
						<img class="medium-icon" th:src='@{/images/wizard.png}'>
					</label>
				</li>
			</ul>
			<div class="spacer-m"></div>
			<p class="hilight-m font-m">Attribute Points Remaining</p>
			<div class="spacer-xs"></div>
			<div class="circle-atr font-xxl"><p class="v-h-centered" id="counter">30</p></div>
			<div class="spacer-xs"></div>
			<table class="font-m inline-block">
				<tbody>
					<tr style="text-align: right;">
						<td class="tooltip atr-offset">Constitution
						<span class="tooltiptext font-xxs">++Health<br></br>++Health Regen</span></td>
						<td style="text-align: center;">
	                      	<table>
	                        	<tbody>
	                          		<tr>
	                            		<td>
	                             			 <input type="number" class="attribute font-xxs" id="AttributeCon" name="AttributeCon" min="8" max="18" step="1" readonly="Readonly" onchange="getTotals()" th:field="*{constitution}"/>
	                            		</td>
	                            		<td>
	                             			<button class="up font-xxxs" type="button" onclick="increment('AttributeCon')" value="AttributeCon">▲</button>
	                              			<div></div>
	                              			<button class="down font-xxxs" type="button" onclick="decrement('AttributeCon')" value="AttributeCon">▼</button>
	                            		</td>
	                            		<td>
	                            			<button th:if="${newCharacter.constitutionMetabonus > 0}" class="circle-bonus font-xxs" type="button">
	                            				<span th:text="'+'+${newCharacter.constitutionMetabonus}"></span>
			 									<img class="small-icon" th:src='@{/images/soul.png}'>
	                            			</button>
	                            		</td>
	                          		</tr>
	                        	</tbody>
	                      	</table>
		               	</td>
					</tr>
					<tr style="text-align: right;">
						<td class="tooltip atr-offset">Strength
						<span class="tooltiptext font-xxs">+Power<br></br>++Armor<br></br>++Armor Pen</span></td>
						<td style="text-align: center;">
	                      	<table>
	                        	<tbody>
	                          		<tr>
	                            		<td>
	                             			 <input type="number" class="attribute font-xxs" id="AttributeStr" name="AttributeStr" min="8" max="18" step="1" readonly="Readonly" onchange="getTotals()" th:field="*{strength}"/>
	                            		</td>
	                            		<td>
	                             			<button class="up font-xxxs" type="button" onclick="increment('AttributeStr')" value="AttributeStr">▲</button>
	                              			<div></div>
	                              			<button class="down font-xxxs" type="button" onclick="decrement('AttributeStr')" value="AttributeStr">▼</button>
	                            		</td>
	                            		<td>
	                            			<button th:if="${newCharacter.strengthMetabonus > 0}" class="circle-bonus font-xxs" type="button">
	                            				<span th:text="'+'+${newCharacter.strengthMetabonus}"></span>
			 									<img class="small-icon" th:src='@{/images/soul.png}'>	                            			
	                            			</button>
	                            		</td>
	                          		</tr>
	                        	</tbody>
	                      	</table>
		               	</td>
					</tr>
					<tr style="text-align: right;">
						<td class="tooltip atr-offset">Dexterity
						<span class="tooltiptext font-xxs">+Power<br></br>++Dodge<br></br>++Crit</span></td>
						<td style="text-align: center;">
	                      	<table>
	                        	<tbody>
	                          		<tr>
	                            		<td>
	                             			 <input type="number" class="attribute font-xxs" id="AttributeDex" name="AttributeDex" min="8" max="18" step="1" readonly="Readonly" onchange="getTotals()" th:field="*{dexterity}"/>
	                            		</td>
	                            		<td>
	                             			<button class="up font-xxxs" type="button" onclick="increment('AttributeDex')" value="AttributeDex">▲</button>
	                              			<div></div>
	                              			<button class="down font-xxxs" type="button" onclick="decrement('AttributeDex')" value="AttributeDex">▼</button>
	                            		</td>
	                            		<td>
	                            			<button th:if="${newCharacter.dexterityMetabonus > 0}" class="circle-bonus font-xxs" type="button">
	                            				<span th:text="'+'+${newCharacter.dexterityMetabonus}"></span>
			 									<img class="small-icon" th:src='@{/images/soul.png}'>
	                            			</button>
	                            		</td>
	                          		</tr>
	                        	</tbody>
	                      	</table>
		               	</td>
					</tr>
					<tr style="text-align: right;">
						<td class="tooltip atr-offset">Intelligence
						<span class="tooltiptext font-xxs">+Power<br></br>++Energy<br></br>++Energy Regen</span></td>
						<td style="text-align: center;">
	                      	<table>
	                        	<tbody>
	                          		<tr>
	                            		<td>
	                             			 <input type="number" class="attribute font-xxs" id="AttributeInt" name="AttributeInt" min="8" max="18" step="1" readonly="Readonly" onchange="getTotals()" th:field="*{intelligence}"/>
	                            		</td>
	                            		<td>
	                             			<button class="up font-xxxs" type="button" onclick="increment('AttributeInt')" value="AttributeInt">▲</button>
	                              			<div></div>
	                              			<button class="down font-xxxs" type="button" onclick="decrement('AttributeInt')" value="AttributeInt">▼</button>
	                            		</td>
	                            		<td>
	                            			<button th:if="${newCharacter.intelligenceMetabonus > 0}" class="circle-bonus font-xxs" type="button">
	                            				<span th:text="'+'+${newCharacter.intelligenceMetabonus}"></span>
			 									<img class="small-icon" th:src='@{/images/soul.png}'>	                            			
	                            			</button>
	                            		</td>
	                          		</tr>
	                        	</tbody>
	                      	</table>
		               	</td>
					</tr>
				</tbody>
			</table>
			<div class="spacer-xxs"></div>
			<button th:if="${newCharacter.currencyMetabonus > 0}" class="circle-bonus font-s" type="button">
            	<span th:text="'+'+${newCharacter.currencyMetabonus}"></span>
				<img class="small-icon" th:src='@{/images/gold.png}'>
				<img class="small-icon" th:src='@{/images/soul.png}'>
			</button>
			<div class="spacer-m"></div>
		    <button class="btn-ml font-s center-contents" type="submit">
		    	Venture Forth
		    </button>
		</form>
	</div>
</body>
</html>