<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Create a New Adventurer!</title>
    <link th:href="@{/styles/masterWebStyle.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/scripts/statCounters.js}"></script>
    <style>
	    input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		  	-webkit-appearance: none;
		  	margin: 0;
		}
		input[type=number] {
  			-moz-appearance: textfield;
		}
    	.body-uncentered{
    	    background-image: url([[@{images/RogueBackground.webp}]]);
    	}
    	.formcontainer{
    		top: 12em;
    	}
    </style>
</head>
<body class=body-uncentered onload="intializeAttributes()">
	<div class=righting-box>
		<button class="home-button" type="button" onclick="location.href='/home'"><p style="position:relative; bottom:.2em;">🏘</p></button>
	</div>
	<div class=centering-box>    	
	   	<div class="titlecontainer">
	   		<img class ="title" th:src='@{/images/RogueBasicTitle.png}'>
	  	</div>
	 	<div>
	  		<form class="formcontainer" action="#" th:action="@{/new_character}" th:object="${new_character}" method="post">
			    <div class="formwrapper">
				    <div style="padding:.3em; background-color:rgb(84, 85, 86, 0.4); border-radius: 10em;">
				    	<p class="formtextlarge">Create Your Adventurer</p>
				    </div>
				    <div style="height: .5em;"></div>
				    <div class="formbox">
					    <input type="text" class="charactername" placeholder="Enter Character Name" th:field="*{name}" required>
					</div>
					<div style="height: .2em;"></div>
					<div class="formbox">
						<ul class="radio-parent">
							<li>
								<input type="radio" id="warrior" name="class_selection" value="Warrior" th:field="*{characterClass}" required/>
								<label class=formtextsmall for="warrior">⚔️ Warrior 🛡️</label>
							</li>
							<li>
								<input type="radio" id="rogue" name="class_selection"  value="Rogue" th:field="*{characterClass}" required/>
								<label class=formtextsmall for="rogue">🔪 Rogue 🏹</label>
							</li>
							<li>
								<input type="radio" id="wizard" name="class_selection"  value="Wizard" th:field="*{characterClass}" required/>
								<label class=formtextsmall for="wizard">🔮 Wizard ⚗️</label>
							</li>
						</ul>
					</div>
					<div style="height: 1.8em;"></div>
					<p class="formtext" >Assign Attributes</p>
					<br></br>
					<p class="formtext" id="counter"> Points Remaining: 35</p>
					<div style="height: .5em;"></div>
					<div class="formbox">
					<table class="formtext">
						<tbody>
							<tr style="text-align: right;">
								<td class=tooltip style="position:relative; top:.1em;">Constitution
								<span class="tooltiptext">++Health<br></br>++Health Regen</span></td>
								<td style="text-align: center;">
				                    <div>
				                      	<table>
				                        	<tbody>
				                          		<tr>
				                            		<td>
				                             			 <input type="number" class="attribute-score formtexttiny" id="AttributeCon" name="AttributeCon" min="8" max="18" step="1" readonly="Readonly" onchange="getTotals()" th:field="*{constitution}"/>
				                            		</td>
				                            		<td>
				                             			<button class="up" type="button" onclick="increment('AttributeCon')" value="AttributeCon">▲</button>
				                              			<div></div>
				                              			<button class="down" type="button" onclick="decrement('AttributeCon')" value="AttributeCon">▼</button>
				                            		</td>
				                          		</tr>
				                        	</tbody>
				                      	</table>
				                    </div>
				               	</td>
							</tr>
							<tr style="text-align: right;">
								<td class=tooltip style="position:relative; top:.1em;">Strength
								<span class="tooltiptext">+Power<br></br>++Armor<br></br>++Carry Weight</span></td>
								<td style="text-align: center;">
				                    <div>
				                      	<table>
				                        	<tbody>
				                          		<tr>
				                            		<td>
				                             			 <input type="number" class="attribute-score formtexttiny" id="AttributeStr" name="AttributeStr" min="8" max="18" step="1" readonly="Readonly" onchange="getTotals()" th:field="*{strength}"/>
				                            		</td>
				                            		<td>
				                             			<button class="up" type="button" onclick="increment('AttributeStr')" value="AttributeStr">▲</button>
				                              			<div></div>
				                              			<button class="down" type="button" onclick="decrement('AttributeStr')" value="AttributeStr">▼</button>
				                            		</td>
				                          		</tr>
				                        	</tbody>
				                      	</table>
				                    </div>
				               	</td>
							</tr>
							<tr style="text-align: right;">
								<td class=tooltip style="position:relative; top:.1em;">Dexterity
								<span class="tooltiptext">+Power<br></br>++Dodge<br></br>++Crit</span></td>
								<td style="text-align: center;">
				                    <div>
				                      	<table>
				                        	<tbody>
				                          		<tr>
				                            		<td>
				                             			 <input type="number" class="attribute-score formtexttiny" id="AttributeDex" name="AttributeDex" min="8" max="18" step="1" readonly="Readonly" onchange="getTotals()" th:field="*{dexterity}"/>
				                            		</td>
				                            		<td>
				                             			<button class="up" type="button" onclick="increment('AttributeDex')" value="AttributeDex">▲</button>
				                              			<div></div>
				                              			<button class="down" type="button" onclick="decrement('AttributeDex')" value="AttributeDex">▼</button>
				                            		</td>
				                          		</tr>
				                        	</tbody>
				                      	</table>
				                    </div>
				               	</td>
							</tr>
							<tr style="text-align: right;">
								<td class=tooltip style="position:relative; top:.1em;">Intelligence
								<span class="tooltiptext">+Power<br></br>++Energy<br></br>++Energy Regen</span></td>
								<td style="text-align: center;">
				                    <div>
				                      	<table>
				                        	<tbody>
				                          		<tr>
				                            		<td>
				                             			 <input type="number" class="attribute-score formtexttiny" id="AttributeInt" name="AttributeInt" min="8" max="18" step="1" readonly="Readonly" onchange="getTotals()" th:field="*{intelligence}"/>
				                            		</td>
				                            		<td>
				                             			<button class="up" type="button" onclick="increment('AttributeInt')" value="AttributeInt">▲</button>
				                              			<div></div>
				                              			<button class="down" type="button" onclick="decrement('AttributeInt')" value="AttributeInt">▼</button>
				                            		</td>
				                          		</tr>
				                        	</tbody>
				                      	</table>
				                    </div>
				               	</td>
							</tr>
						</tbody>
					</table>
					<div style="height: 1.5em;"></div>
					<div>
				    	<button class="buttonnormal" type="submit">Venture Forth</button>
					</div>
				</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>