<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="icon" th:href="@{/images/favicon.ico}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="application-name" content="Rogue Basic"/>
    <meta name="author" content="BinderCreations"/>
    <meta name="description" content="Simple loot-filled dungeon crawler RPG."/>
    <link rel="apple-touch-icon" th:href="@{/images/logo192.png}" />
    <link rel="manifest" th:href="@{/manifest.json}" />
	<title>Create a New Rogue Basic Account</title>
    <link th:href="@{/styles/masterWebStyle.css}" rel="stylesheet" />
</head>
<body>
	<img class="bc-logo" th:src="@{/images/bcLogo.png}" alt="logo"/>
	<div class="spacer-l"></div>
   	<img class ="title" th:src='@{/images/rogueBasicTitle.png}'>
 	<div class="spacer-xxl"></div>
 	<form class="formbox" action="#" th:action="@{/register}" th:object="${register}" method="post">
		    <p th:unless="${failure}" class="font-xs">Create a new account!</p>
		    <div th:unless="${failure}" class="spacer-xs"></div>
		    <p th:if="${failure}" class="font-red font-xs">That Username is taken.</p>
  			<p th:if="${failure}" class="font-red font-xs">Please try again.</p>
		    <div th:if="${failure}" class="spacer-xs"></div>
		    <label class="font-m label" for="uname"><b>Username</b></label>
		    <input type="text" class="text-input" placeholder="Enter Username" name="uname" th:field="*{name}" required>
		    <div></div>
		    <label class="font-m label" for="psw"><b>Password</b></label>
		    <input type="password" class="text-input" placeholder="Enter Password" name="psw" th:field="*{password}" required>
			<div class="spacer-s"></div>
	    	<button class="btn-m font-s" type="submit">
	    		<p class="v-h-centered">Register</p>
	    	</button>
		    <div class="spacer-s"></div>
		    <span class="font-xs"><a th:href="@{/login}">Already have an account? Login.</a></span>
	</form>
</body>
</html>