<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="icon" th:href="@{/images/favicon.ico}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="application-name" content="Rogue Basic"/>
    <meta name="author" content="BinderCreations"/>
    <meta name="description" content="Simple loot-filled dungeon crawler RPG."/>
    <link rel="apple-touch-icon" th:href="@{/images/logo192.png}" />
    <link rel="manifest" th:href="@{/manifest.json}" />
	<title>Infuse Future Adventurers with Soul-Power!</title>
    <link th:href="@{/styles/masterWebStyle.css}" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/scripts/postReload.js}"></script>
</head>
<body>
	<picture onclick="location.href='https://github.com/Binder-Creations/RogueBasic'">
	  	<source th:srcset='@{/images/logo.png}' media='(min-width: 961px)'>
   		<img class="bc-logo" th:src="@{/images/logo-small.png}" alt="logo"/>
  	</picture>
	<button class="btn-home" type="button" onclick="location.href='/home'">
		<picture>
		  	<source th:srcset='@{/images/scroll.png}' media='(min-width: 961px)'>
	   		<img class ="title" th:src='@{/images/scroll-small.png}' alt="scroll"/>
	  	</picture>
	</button>
	<div class="center-aligner"> 
		<div class="spacer-l"></div>
		<picture>
		  	<source th:srcset='@{/images/title.png}' media='(min-width: 961px)'>
	   		<img class ="title" th:src='@{/images/title-small.png}' alt="title"/>
	  	</picture>
	  	<div class="spacer-xl"></div>
	  	<div class="circle-souls font-xxl">
	  		<span th:text="${spendSouls.metacurrency}"></span>
	  		<img class="large-icon" th:src='@{/images/soul.png}'>
	  	</div>
		<div class="spacer-s"></div>
		<div> 	
		 	<button class="active btn-l font-xs" id="Constitution" th:if="${spendSouls.conCost < spendSouls.metacurrency}" th:value="${spendSouls.conCost}">
		 		<div class="flex">
			 		<div class="left">
			 			<span th:text="${spendSouls.conCost}"></span>
			 			<img class="small-icon" th:src='@{/images/soul.png}'>
			 		</div>
			 		<p class="center">+1 Starting Constitution</p>
		 		</div>
		 		<p class="font-xxxs" th:text="'Current Bonus: +' + ${spendSouls.constitutionMetabonus}"></p>
		 	</button>
		 	<button class="btn-l-faded font-xs" th:unless="${spendSouls.conCost < spendSouls.metacurrency}" >
		 		<div class="flex">
		 			<div class="left font-red">
			 			<span th:text="${spendSouls.conCost}"></span>
			 			<img class="small-icon" th:src='@{/images/soul.png}'>
			 		</div>
		 			<p class="center">+1 Starting Constitution</p>
		 		</div>
		 		<p class="font-xxxs" th:text="'Current Bonus: +' + ${spendSouls.constitutionMetabonus}"></p>
		 	</button>
		 	<div class="spacer-xs"></div>
		 	<button class="active btn-l font-xs" id="Strength" th:if="${spendSouls.strCost < spendSouls.metacurrency}" th:onclick="" th:value="${spendSouls.strCost}">
		 		<div class="flex">
			 		<div class="left">
			 			<span th:text="${spendSouls.strCost}"></span>
			 			<img class="small-icon" th:src='@{/images/soul.png}'>
			 		</div>
		 			<p class="center">+1 Starting Strength
		 		</div>
		 		<p class="font-xxxs" th:text="'Current Bonus: +' + ${spendSouls.strengthMetabonus}"></p>
		 	</button>
		 	<button class="btn-l-faded font-xs" th:unless="${spendSouls.strCost < spendSouls.metacurrency}" >
		 		<div class="flex">
			 		<div class="left font-red">
			 			<span th:text="${spendSouls.strCost}"></span>
			 			<img class="small-icon" th:src='@{/images/soul.png}'>
			 		</div>
		 			<p class="center">+1 Starting Strength
		 		</div>
		 		<p class="font-xxxs" th:text="'Current Bonus: +' + ${spendSouls.strengthMetabonus}"></p>
		 	</button>
		 	<div class="spacer-xs"></div>
		 	<button class="active btn-l font-xs" id="Dexterity" th:if="${spendSouls.dexCost < spendSouls.metacurrency}" th:onclick="" th:value="${spendSouls.dexCost}">
		 		<div class="flex">
			 		<div class="left">
			 			<span th:text="${spendSouls.dexCost}"></span>
			 			<img class="small-icon" th:src='@{/images/soul.png}'>
			 		</div>
		 			<p class="center">+1 Starting Dexterity</p>
		 		</div>
		 		<p class="font-xxxs" th:text="'Current Bonus: +' + ${spendSouls.dexterityMetabonus}"></p>
		 	</button>
		 	<button class="btn-l-faded font-xs" th:unless="${spendSouls.dexCost < spendSouls.metacurrency}" >
		 		<div class="flex">
			 		<div class="left font-red">
			 			<span th:text="${spendSouls.dexCost}"></span>
			 			<img class="small-icon" th:src='@{/images/soul.png}'>
			 		</div>
		 			<p class="center">+1 Starting Dexterity</p>
		 		</div>
		 		<p class="font-xxxs" th:text="'Current Bonus: +' + ${spendSouls.dexterityMetabonus}"></p>
		 	</button>
		 	<div class="spacer-xs"></div>
		 	<button class="active btn-l font-xs" id="Intelligence" th:if="${spendSouls.intCost < spendSouls.metacurrency}" th:onclick="" th:value="${spendSouls.intCost}">
		 		<div class="flex">
			 		<div class="left">
			 			<span th:text="${spendSouls.intCost}"></span>
			 			<img class="small-icon" th:src='@{/images/soul.png}'>
			 		</div>
		 			<p class="center">+1 Starting Intelligence</p>
		 		</div>
		 		<p class="font-xxxs" th:text="'Current Bonus: +' + ${spendSouls.intelligenceMetabonus}"></p>
		 	</button>
		 	<button class="btn-l-faded font-xs" th:unless="${spendSouls.intCost < spendSouls.metacurrency}" >
		 		<div class="flex">
			 		<div class="left font-red">
			 			<span th:text="${spendSouls.intCost}"></span>
			 			<img class="small-icon" th:src='@{/images/soul.png}'>
			 		</div>
		 			<p class="center">+1 Starting Intelligence</p>
		 		</div>
		 		<p class="font-xxxs" th:text="'Current Bonus: +' + ${spendSouls.intelligenceMetabonus}"></p>
		 	</button>
			<div class="spacer-xs"></div>
			<button class="active btn-l font-xs" id="Currency" th:if="${spendSouls.goldCost < spendSouls.metacurrency}" th:onclick="" th:value="${spendSouls.goldCost}">
				<div class="flex">
			 		<div class="left">
			 			<span th:text="${spendSouls.goldCost}"></span>
			 			<img class="small-icon" th:src='@{/images/soul.png}'>
			 		</div>
					<p class="center">+25 Starting Gold</p>
				</div>
				<p class="font-xxxs" th:text="'Current Bonus: +' + ${spendSouls.currencyMetabonus}"></p>
			</button>
		 	<button class="btn-l-faded font-xs" th:unless="${spendSouls.goldCost < spendSouls.metacurrency}" >
		 		<div class="flex">
			 		<div class="left font-red">
			 			<span th:text="${spendSouls.strCost}"></span>
			 			<img class="small-icon" th:src='@{/images/soul.png}'>
			 		</div>
		 			<p class="center">+25 Starting Gold</p>
		 		</div>
		 		<p class="font-xxxs" th:text="'Current Bonus: +' + ${spendSouls.currencyMetabonus}"></p>
		 	</button>
			<div class="spacer-s"></div>
		</div>
	</div>
</body>
</html>