<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Rogue Basic Account Created!</title>
    <link th:href="@{/styles/masterWebStyle.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/scripts/autoRedirect.js}"></script>
</head>
<body>
	<div class="spacer-l"></div>
   	<img class ="title" th:src='@{/images/RogueBasicTitle.png}'>
 	<div class="spacer-xxl"></div>
 	<div class="formbox">
		<p class="font-m" th:text="'Your Rogue Basic account has successfully been created, ' + ${name}"></p>  		
		<p class="font-m">You will be redirected to the login screen in...</p> 
		<p class ="font-red font-xs" id="counter">3</p>
	</div>
</body>
</html>