<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="icon" th:href="@{/images/favicon.ico}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="application-name" content="Rogue Basic"/>
    <meta name="author" content="BinderCreations"/>
    <meta name="description" content="Simple loot-filled dungeon crawler RPG."/>
    <link rel="apple-touch-icon" th:href="@{/images/logo192.png}" />
    <link rel="manifest" th:href="@{/manifest.json}" />
	<title>Rogue Basic Account Created!</title>
    <link th:href="@{/styles/masterWebStyle.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/scripts/autoRedirect.js}"></script>
</head>
<body>
	<picture>
	  	<source th:srcset='@{/images/logo.png}' media='(min-width: 961px)'>
   		<img class="bc-logo" th:src="@{/images/logo-small.png}" alt="logo"/>
  	</picture>
	<div class="spacer-l"></div>
	<picture>
	  	<source th:srcset='@{/images/title.png}' media='(min-width: 961px)'>
   		<img class ="title" th:src='@{/images/title-small.png}' alt="title"/>
  	</picture>
 	<div class="spacer-xxl"></div>
 	<div class="formbox">
		<p class="font-m" th:text="'Your Rogue Basic account has successfully been created, ' + ${name}"></p>  		
		<p class="font-m">You will be redirected to the login screen in...</p> 
		<p class ="font-red font-xs" id="counter">2</p>
	</div>
</body>
</html>