@charset "ISO-8859-1";
      	* {
          	margin: 0;
          	padding: 0;
      	}
      	.body {
      		background-repeat:no-repeat;
    		background-attachment: fixed;
  			background-position: center;
  			background-size: cover;
      		text-align: center;
      	}
      	.titlecontainer {
      	   	position: absolute;
      	   	display: block;
      	   	top: 3em;
      	   	width: 100%;
      	   	z-index: 1;
      	   	text-align: center;
      	}
	   .title {
			width: 60%;
      	}	
       .formcontainer {
      	   	display: block;
      	   	position: absolute;
      	   	width: 100%;
      	   	top: 17em;
      	   	z-index: 2;
      	   	text-align: center;
      	}
    .formtext {
       	color:#ffcc66;
       	font-family: "Copperplate", fantasy;
       	font-size: 140%;
   	}
   	.formtextsmall {
       	color:#ffcc66;
       	font-family: "Copperplate", fantasy;
       	font-size: 115%;
   	}
   	.failtext {
       	color:#ff0000;
       	font-family: "Copperplate", fantasy;
       	font-size: 115%;
   	}
	.formbox {
	   display:inline-block;
   	}