@charset "UTF-8";
		
      	*, *:before, *:after {
          	margin:0;
          	padding:0;
          	box-sizing:border-box;
          	color:#ffcc66;
     	  	font-family:"Copperplate", fantasy;
     	  	text-align:center;
      	}
      	body {
      		background-repeat:no-repeat;
    		background-attachment:fixed;
  			background-position:center;
  			background-size:cover;
    	    background-image:url(../images/RogueBackground.webp);
      	}
      	input[type=text], input[type=password] {
       		padding:.15em;
       		padding-left:.4em;
       		margin:.5em;
       		border:.2em solid #ffcc66;
       		background-color: #555555;
       		border-radius:.2em;
       		text-align:left;
        }
        br {
			display:block;
			content:" ";
	    }
	    .inline-block {
	    	display:inline-block;
	    }
	    .center-aligner {
		    width:100%;
		    height:100%;
		    text-align:center;
	    }
	    .center-align {
	    	text-align:center;
	    }
	    .left-align {
	    	text-align:left;
	    }
	    .right-align {
	    	text-align:right;
	    }
      	.right-aligner {
      		width:100%;
		    height:100%;
      		text-align:right;
      	}
      	.title {
      		display:inline-block;
      		width:40em;
      		max-width:90%;
      		z-index:1;
      	}
      	.spacer-xxl{
      		display:block;
      		height:6em;
      	}
      	.spacer-xl{
      		display:block;
      		height:4.5em;
      	}
      	.spacer-l {
      		display:block;
      		height:3em;
      	}
      	.spacer-m {
      		display:block;
      		height:1.5em;
      	}
      	.spacer-s {
      		height:1em;
      	}
      	.spacer-xs {
      		display:block;
      		height:.5em;
      	}
      	.spacer-xxs {
      		display:block;
      		height:.25em;
      	}
      	.spacer-cell {
      		width:0.5em;
      	}
      	.formbox{
      		padding: 1em;
      		display:inline-block;
    		background-color: rgb(34, 35, 36, 0.8);
    		border: .3em solid rgb(12, 13, 13, 0.8);
      	}
      	.font-xl{
       		font-size: 165%;
   		}
   		.font-l{
   			font-size: 155%
   		}
		.font-m{
       		font-size: 140%;
   		}
   		.font-s{
   			font-size: 130%;
   		}
   		.font-xs{
    	   	font-size: 115%;
   		}
   		.font-xxs{
    	   	font-size: 90%;
   		}
   		.label{
   			position:relative;
   			top:.12em;
   		}
   		.font-red {
       		color:#ff0000;
   		}
   	    .buttoncontainer {
      		display: block;
      		position: absolute;
      		width: 100%;
      	   	top: 11em;
      	   	z-index: 3;
      	   	text-align: center;
      	}
      	.buttonnormal {
      		width: 9em;
      		height: 1.5em;
      		background-color: #555555;
      		border: .15em solid #696969;
      		border-radius: .5em;
      		transition-duration: 0.4s;
	       	font-size: 130%;
	       	position: absolute;
      		display:inline-block;
      		text-align: center;
      		position:relative;
      	}
      	.buttonnormal:hover {
      		background-color: #696969;
      		border: .15em solid #555555;
      	}
      	.home-button {
      	   	position: absolute;
      	   	display: block;
      	   	top: 1.5em;
      	   	right: 1.5em;
      	   	z-index: 5;
      	   	text-align: center;
      	   	width: 2em;
      		height: 2em;
      		background-color: #555555;
      		border: .15em solid #696969;
      		border-radius: 2em;
      		transition-duration: 0.4s;
	       	font-size: 130%;
	       	position: absolute;
      		display:inline-block;
      		text-align: center;
      		position:relative;
      	}
      	.home-button:hover {
      		background-color: #696969;
      		border: .15em solid #555555;
      	}
      	.buttonbig {
      		width: 18em;
      		height: 3em;
      		background-color: #555555;
      		border: .3em solid #696969;
      		border-radius: 1em;
      		transition-duration: 0.4s;
	       	font-size: 155%;
	       	position: absolute;
      		display:inline-block;
      		text-align: center;
      		position:relative;
      	}
      	.buttonbig:hover {
      		background-color: #696969;
      		border: .3em solid #555555;
      	}
      	.button-character {
      		width: 13em;
      		height: 3em;
      		background-color: #555555;
      		border: .3em solid #696969;
      		border-radius: 0.25em;
      		transition-duration: 0.4s;
	       	font-size: 250%;
	       	position: absolute;
      		display:inline-block;
      		text-align: center;
      		padding: .25em;
      		padding-left: .5em;
      		position:relative;
      	}
      	.button-character:hover {
      		background-color: #696969;
      		border: .3em solid #555555;
      	}
    	.buttontext {
	       	font-size: 155%;
	       	position: absolute;
			top: 50%;
			left: 50%;
			-ms-transform: translateY(-50%) translateX(-50%);
			transform: translateY(-50%) translateX(-50%);
   		}
   		.radio-parent {
		  	list-style-type: none;
		}
		.radio-parent:after{
			content: "";
			clear: both;
			display: table;
		}
		
		.radio-parent li {
		  	float: left;
		  	margin: 0 .2em 0 0;
		  	width: 8.5em;
		  	height: 3em;
		  	position:relative;
		}
		
		.radio-parent label,
		.radio-parent input {
		  	display: block;
		  	position: absolute;
		  	top: 0;
		  	left: 0;
		  	right: 0;
		  	bottom: 0;
		}
		
		.radio-parent input[type="radio"] {
		  	opacity: 0.01;
		  	z-index: 100;
		}
		
		.radio-parent input[type="radio"]:checked+label,
		.Checked+label {
		  	background: #ffcc66;
		  	border: .15em solid #6B8E23;
		  	color: #6B8E23;
		}
		
		.radio-parent label {
		  	padding: .4em;
		  	border: .15em solid #ffcc66;
		  	background: #6B8E23;
		  	cursor: pointer;
		  	z-index: 90;
		}
		
		.radio-parent label:hover {
		  	background: #808000;
		}
		
		.number-parent {
			list-style-type: none;
		}
		
		.number-parent li {
		  	text-align: left;
		}
		.tooltip {
		  	position: relative;
		  	display: inline-block;
		}
		.tooltip .tooltiptext {
			visibility: hidden;
			width: 6em;
			background-color: #555;
			color: #fff;
			font-size:95%;
			text-align: center;
			border-radius: .5em;
			padding: 1em 0;
			position: absolute;
			z-index: 4;
			bottom: 50%;
			right: 110%;
			margin-bottom: -3.3em;
			transition: opacity 0.3s;
		}
		.tooltip:hover .tooltiptext {
  			visibility: visible;
		}
		.charactername{
			box-shadow:0 0 2em .5em rbga(0,0,0,0.06);
			border-radius: 1.5em;
       		font-family: "Copperplate", fantasy;
       		font-size: 165%;
		}
		.up, .down {
			margin:0;
			float:left;
      		width: 1.3em;
      		height: 1.3em;
      		background-color: #555555;
      		border: .12em solid #ffcc66;
      		border-radius: .3em;
	       	font-size: 55%;
      		position:relative;
      	}
      	.attribute{
      		width: 1.7em;
      		padding: 0.05em 0.05em 0.05em 0.15em;
      		margin: 0 0.05em 0 0;
      		text-align: left;
      		border:.2em solid #ffcc66;
       		background-color:  #555555;
       		border-radius: .2em;
      	}
      	.class-icon{
      		width: 1.8em;
      		height: 1.8em;
      	}
      	.point-circle{
      	    width: 2.2em;
      		height: 2.2em;
      		line-height:2.2em;
      		background-color: #555555;
      		border: .2em solid #696969;
      		border-radius: 2em;
	       	font-size: 180%;
	       	position: absolute;
      		display:inline-block;
      		text-align: center;
      		position:relative;
      	}
      	.v-h-centered{
      		position:absolute;
      		top: 50%;
      		left:50%;
      		transform: translate(-50%, -50%);
      		-ms-transform: translateY(-50%) translateX(-50%);
      	}
      	.hilight-1 {
	      	padding:.3em 2.5em .3em 2.5em;
	      	background-color:rgb(85, 85, 85, 0.4);
	      	border-radius: 3em;
	      	display:inline-block;
      	}
      	.hilight-2 {
	      	padding:.2em 1em .2em 1em;
	      	background-color:rgb(55, 55, 55, 0.8);
	      	border-radius: 2em;
	      	display:inline-block;
      	}
      	.atr-offset {
      		top:.11em
      	}